/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* GLOBAL */
body {
    background: #f9fafb;
    color: #111;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.btn {
    padding: 10px 18px;
    border-radius: 6px;
    border: 1px solid #111;
}

.primary {
    background: #111;
    color: white;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 40px;
}

.hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero-text p {
    max-width: 600px;
    margin: auto;
    margin-bottom: 25px;
    color: #555;
}

/* FEATURES */
.features {
    padding: 80px 60px;
    background: white;
    text-align: center;
}

.features h3 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    padding: 30px;
    border-radius: 12px;
    background: #f1f5f9;
}

/* CTA */
.cta {
    padding: 70px 40px;
    background: #111;
    color: white;
    text-align: center;
}

.cta h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.cta p {
    margin-bottom: 25px;
    color: #ccc;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #f1f1f1;
    font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}
